# Week 12 Review Assignment

In this week's lectures, we talked about "pivoting" data between wide formats and long formats.  This is an extremely useful process when trying to understand, aggregate, and process data in different ways.  Similiar to Excel Pivot Tables, pivoting data with Pandas can help you aggregate data and look for patterns more easily.

Test your knowledge of the content from the lectures through the multiple choice questions below.

---
---

### 48.1 Which of the following functions can pivot data in Pandas from long to wide formats?

> A) flatten
>
> B) pivot_table
> 
> C) pivot
>
> D) expand

In [1]:
answers = {}
answers['48.1'] = [ "C","B"]

### 48.2 Given the code below, what columns will the resulting data frame have?


```python
data.pivot(index='Txn', columns='Dept', values='Amount)
```


| Txn | Dept | Amount |
|---|---|---|
| A8739 | Finance | 10.21 |
| A9821 | IT | 91.13 |
| A8739 | Hospital | 11.33 |
| AB783 | HR | 190.29 |
| A1123 | Hospital | 98.44 |
| A8719 | IT | 43.88 |


> A) Dept
>
> B) Txn, Amount 1, Amount 2, Amount 3, Amount 4
> 
> C) Finance, IT, HR, Hospital, Amount
>
> D) Txn, Finance, IT, Hospital, HR

In [2]:
answers['48.2'] = "C"

In [3]:
import pandas as pd
median_temp = [
    [ 'A8739', 'Finance', 10.21],
    [ 'A9821','IT', 91.13],
    ['A8739', 'Hospital',11.33],
    ['AB783','HR', 190.29],
    ['A1123','Hospital',98.44],
    ['A8719','IT', 43.88]
]
data = pd.DataFrame(median_temp, columns=['Txn','Dept','Amount'])

In [4]:
data

     Txn      Dept  Amount
0  A8739   Finance   10.21
1  A9821        IT   91.13
2  A8739  Hospital   11.33
3  AB783        HR  190.29
4  A1123  Hospital   98.44
5  A8719        IT   43.88

In [5]:
data.pivot(index='Txn', columns='Dept', values='Amount')

Dept   Finance      HR  Hospital     IT
Txn
A1123      NaN     NaN     98.44    NaN
A8719      NaN     NaN       NaN  43.88
A8739    10.21     NaN     11.33    NaN
A9821      NaN     NaN       NaN  91.13
AB783      NaN  190.29       NaN    NaN

### 49.1 Which of the following functions can stack a Pandas data frame from wide to long formats?

> A) melt
>
> B) pivot
>
> C) wide_to_long
>
> D) stack

In [6]:
answers['49.1'] = ["A","C","D"]

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [7]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>5}{1:>20}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>5}{1:>20}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

   Q#               Yours  Correct?
 48.1          ['C', 'B']        OK
 48.2                   C        OK
 49.1     ['A', 'C', 'D']        OK

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [ ]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week12_assignment_1.ipynb
    !git commit -a -m "Submitting the week 12 review exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')