## Part B
This section obtains population data for every state from a public website.
There is only 1 table on this website with no mention of a name so it became intuitive to access the only table at index 0

In the larger scheme of things, this population data is obtained to draw a relative percentage per state.
Reference link: http://www.stats.indiana.edu/population/poptotals/historic_counts_states.asp

In [3]:
!pip3 install lxml
!pip3 install html5lib
!pip3 install beautifulsoup4

Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (4.8.0)
Requirement already satisfied: html5lib in /opt/conda/lib/python3.7/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.7/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.7/site-packages (from html5lib) (0.5.1)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 4.7 MB/s eta 0:00:01
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.11.1 soupsieve-2.3.2.post1

In [14]:
import pandas as pd
dfs = pd.read_html('http://www.stats.indiana.edu/population/poptotals/historic_counts_states.asp')
poptable = dfs[0]
poptable.info()
poptable.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   52 non-null     object
 1   1900    52 non-null     int64
 2   1910    52 non-null     int64
 3   1920    52 non-null     int64
 4   1930    52 non-null     int64
 5   1940    52 non-null     int64
 6   1950    52 non-null     int64
 7   1960    52 non-null     int64
 8   1970    52 non-null     int64
 9   1980    52 non-null     int64
 10  1990    52 non-null     int64
 11  2000    52 non-null     int64
 12  2010    52 non-null     int64
 13  2020    52 non-null     int64
dtypes: int64(13), object(1)
memory usage: 5.8+ KB

,State,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010,2020
0,United States,76212168,92228496,106021537,123202624,132164569,151325798,179323175,203302031,226545805,248709873,281421906,308745538,331449281
1,Alabama,1828697,2138093,2348174,2646248,2832961,3061743,3266740,3444354,3893888,4040587,4447100,4779736,5024279
2,Alaska,63592,64356,55036,59278,72524,128643,226167,302583,401851,550043,626932,710231,733391
3,Arizona,122931,204354,334162,435573,499261,749587,1302161,1775399,2718215,3665228,5130632,6392017,7151502
4,Arkansas,1311564,1574449,1752204,1854482,1949387,1909511,1786272,1923322,2286435,2350725,2673400,2915918,3011524

Let's keep this data in this table
1. Only state data (not country)
2. Only for years 2010 and 2020

In [15]:
poptable = poptable[['State','2010', '2020']]
poptable = poptable[poptable['State']!= 'United States']
poptable

                   State      2010      2020
1                Alabama   4779736   5024279
2                 Alaska    710231    733391
3                Arizona   6392017   7151502
4               Arkansas   2915918   3011524
5             California  37253956  39538223
6               Colorado   5029196   5773714
7            Connecticut   3574097   3605944
8               Delaware    897934    989948
9   District of Columbia    601723    689545
10               Florida  18801310  21538187
11               Georgia   9687653  10711908
12                Hawaii   1360301   1455271
13                 Idaho   1567582   1839106
14              Illinois  12830632  12812508
15               Indiana   6483802   6785528
16                  Iowa   3046355   3190369
17                Kansas   2853118   2937880
18              Kentucky   4339367   4505836
19             Louisiana   4533372   4657757
20                 Maine   1328361   1362359
21              Maryland   5773552   6177224
22         Massachusetts   6547629   7029917
23              Michigan   9883640  10077331
24             Minnesota   5303925   5706494
25           Mississippi   2967297   2961279
26              Missouri   5988927   6154913
27               Montana    989415   1084225
28              Nebraska   1826341   1961504
29                Nevada   2700551   3104614
30         New Hampshire   1316470   1377529
31            New Jersey   8791894   9288994
32            New Mexico   2059179   2117522
33              New York  19378102  20201249
34        North Carolina   9535483  10439388
35          North Dakota    672591    779094
36                  Ohio  11536504  11799448
37              Oklahoma   3751351   3959353
38                Oregon   3831074   4237256
39          Pennsylvania  12702379  13002700
40          Rhode Island   1052567   1097379
41        South Carolina   4625364   5118425
42          South Dakota    814180    886667
43             Tennessee   6346105   6910840
44                 Texas  25145561  29145505
45                  Utah   2763885   3271616
46               Vermont    625741    643077
47              Virginia   8001024   8631393
48            Washington   6724540   7705281
49         West Virginia   1852994   1793716
50             Wisconsin   5686986   5893718
51               Wyoming    563626    576851